Icon?
bin/
trash/
doc/
src/rpg/*.swp
src/rpg/maps/*.swp
src/rpg/players/*.swp
map/.DS_Store
map/hometown/.DS_Store
.gitignore~
.DS_Store
.dropbox
record
img/raw
img/.DS_Store
img/map/.DS_Store
img/npc/.DS_Store
img/npc/silvia/.DS_Store
img/npc/iphoneyen/.DS_Store